<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TF POO 2015 Pack V1.4/src/pt/iscte/poo/main/MainIntecalar.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pt.iscte.poo.main.MainIntecalar"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TF POO 2015 Pack V1.4"/>
</launchConfiguration>
